        .card {
            margin: 10px;
            width: 30rem;
            text-align: center;
        }
        .opening-soon{ 
            background-color: #ffb347;
        }
        .open{ 
            background-color: #77dd77;
        }     
        .card-info {
            text-align: center;
        } 
