---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";
    

.card {
    margin: 10px;
    text-align: center;
}
.opening-soon{ 
    background-color: #ffb347;
}
.open{ 
    background-color: #77dd77;
}     
.card-info {
    text-align: center;
} 